.project-auto-pay {
  --color-text-400: rgb(233, 247, 240);
  --color-text-300: rgb(163, 194, 182);

  --color-accent-400: #3ddc84;
  --color-accent-text-400: #07301d;

  --color-hover: #06231a;

  --color-grayscale-500: #14402f;
  --color-grayscale-400: #14402f;

  --color-background-400: #0e3527;
  --color-background-300: #082418;
}

.project-bloom-wellness {
  --color-text-400: rgb(250, 235, 245);
  --color-text-300: rgb(199, 168, 190);

  --color-accent-400: #ff9ecb;
  --color-accent-text-400: #3d0f2a;

  --color-hover: #2b1038;

  --color-grayscale-500: #46204f;
  --color-grayscale-400: #46204f;

  --color-background-400: #38194a;
  --color-background-300: #271033;
}

.project-helmet-detection {
  --color-text-400: rgb(240, 244, 248);
  --color-text-300: rgb(160, 175, 188);

  --color-accent-400: #ee4c2c;
  --color-accent-text-400: white;

  --color-hover: #10181f;

  --color-grayscale-500: #22333f;
  --color-grayscale-400: #22333f;

  --color-background-400: #16222b;
  --color-background-300: #0e151b;
}

.project-billing-app {
  --color-text-400: rgb(18, 35, 63);
  --color-text-300: rgb(80, 100, 130);

  --color-accent-400: #1181c4;
  --color-accent-text-400: white;

  --color-hover: #0d2c4d;
  --color-hover-text: white;

  --color-grayscale-500: rgb(222, 232, 242);
  --color-grayscale-400: rgb(222, 232, 242);

  --color-background-400: rgb(238, 244, 250);
  --color-background-300: #f9fbfe;
}

.project-portfolio-builder {
  --color-text-400: rgb(252, 236, 236);
  --color-text-300: rgb(206, 170, 172);

  --color-accent-400: #ff4b4b;
  --color-accent-text-400: white;

  --color-hover: #33090f;

  --color-grayscale-500: #47191f;
  --color-grayscale-400: #47191f;

  --color-background-400: #3a141a;
  --color-background-300: #280d11;
}
